# Задание 1

In [ ]:
# Импортируйте библиотеки pandas и numpy

In [52]:
import pandas as pd
import numpy as np

In [53]:
# Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn. 
# Создайте датафреймы X и y из этих данных.

In [54]:
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [55]:
X = pd.DataFrame(boston.data, columns=boston.feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [56]:
y = pd.DataFrame(boston.target, columns=['target'])
y.head()

   target
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2

In [57]:
# Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split 
# так, чтобы размер тестовой выборки составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [58]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [59]:
# Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [60]:
from sklearn.linear_model import LinearRegression

In [61]:
# Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [62]:
lr = LinearRegression()

In [63]:
lr.fit(X_train, y_train)

LinearRegression()

In [64]:
y_pred_lr = lr.predict(X_test)
check_test = pd.DataFrame({
    "y_test": y_test["target"],
    "y_pred": lr.predict(X_test).flatten()
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [65]:
# Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [66]:
from sklearn.metrics import r2_score
print(r2_score(y_test, y_pred_lr))

0.711226005748496

# Задание 2

In [67]:
# Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
# Сделайте агрумент n_estimators равным 1000, max_depth должен быть равен 12 и random_state сделайте равным 42.

In [68]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [69]:
# Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
# но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
# чтобы получить из датафрейма одномерный массив Numpy, так как для класса RandomForestRegressor 
# в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [70]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [71]:
# Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
# Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [74]:
y_pred_rf = model.predict(X_test)
check_test_rf = pd.DataFrame({
    "y_test": y_test["target"],
    "y_pred": y_pred_rf.flatten()
})
check_test_rf.head(10)

     y_test     y_pred
173    23.6  22.806412
274    32.4  31.131464
491    13.6  16.339125
72     22.8  23.810726
452    16.1  17.139521
76     20.0  21.832284
316    17.8  19.895747
140    14.0  14.754118
471    19.6  21.240835
500    16.8  20.898658

In [75]:
print('RandomForest R2: ', r2_score(y_test, y_pred_rf))
print('LinearRegression R2: ', r2_score(y_test, y_pred_lr))

RandomForest R2:  0.87472606157312
LinearRegression R2:  0.711226005748496

In [ ]:
# случайный лес на данных 'Boston House Prices dataset' работает лучше, чем линейная регрессия
# результат R^2 на отложенной выборке: 0.87 vs 0.71

# Задание 3

In [ ]:
# Вызовите документацию для класса RandomForestRegressor, найдите информацию об атрибуте feature_importances_.
# С помощью этого атрибута найдите сумму всех показателей важности, 
# установите, какие два признака показывают наибольшую важность.

In [77]:
from sklearn.ensemble import RandomForestRegressor
?RandomForestRegressor

In [ ]:
# feature_importances_ : array of shape = [n_features]
# The feature importances (the higher, the more important the feature).

In [78]:
# сумма всех показателей важности 
print(np.round(np.sum(model.feature_importances_)))

1.0

In [79]:
feature_dict = {}
for feature, importance in zip(boston.feature_names, model.feature_importances_):
    feature_dict[feature] = importance
    print(feature, ':', np.round(importance, 4))

CRIM : 0.0317
ZN : 0.0015
INDUS : 0.0071
CHAS : 0.0012
NOX : 0.0143
RM : 0.4027
AGE : 0.0143
DIS : 0.064
RAD : 0.0053
TAX : 0.0115
PTRATIO : 0.0181
B : 0.0125
LSTAT : 0.4158

In [80]:
sorted(feature_dict.items(), key=lambda kv: kv[1], reverse=True)[:2]

[('LSTAT', 0.4158473181914483), ('RM', 0.4026817857034993)]

In [ ]:
# TOP2 признака по важности: LSTAT и RM